<%- include('partials/header.ejs') %>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
   
  
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <a href="/patients"><img class="card-img-top" src="/images/manage-patients.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a>Manage patients</a>
            </h4>
            <!-- <p class="card-text">Edit patient info and make payments</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card h-100">
          <a href="/patients/add"><img class="card-img-top" src="/images/add-patient.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a>Register patients</a>
            </h4>
            
          </div>
          <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetu.</p> -->
        </div>
      </div>
     
    <!-- /.row -->
  
  
  
  </div>
  <!-- /.container -->
<%- include('partials/footer.ejs') %> 